DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

MIDTRANS_SERVER_KEY="YOUR_MIDTRANS_SANDBOX_SERVER_KEY"
MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_BASE_URL="https://api.sandbox.midtrans.com"

CRON_SECRET="YOUR_INTERNAL_CRON_SECRET"

API_URL=http://localhost:3002
NEXT_PUBLIC_API_URL=http://localhost:3002